<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <script defer src="{{ url_for('static', filename = 'js.js') }}"></script>
</head>
<body>
<div class="img_movies">
    <image src="{{ url_for('static',filename='kill_bill.jpg') }}" id="imgJ"></image>
    <image src="{{ url_for('static',filename='pirates.jpg') }}" id="imgJ"></image>
    <image src="{{ url_for('static',filename='SpaceJam.jpg') }}" id="imgJ"></image>
    <image src="{{ url_for('static',filename='Treasure_Planet.jpg') }}" id="imgJ"></image>
</div>
</body>
</html>