<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InbarPage</title>
</head>
<body style="background-color:rgba(214, 249, 250, 0.924) ">
    <h1>welcome to inbar's page</h1>
    <hr/>
    <p> 
        <h2><i>Please fill in the blank fields </i> </h2> 
    </p>
    <form action="URL" method="post" 
    style="width: 200px;
    border: 15px solid blue;
    background-color:rgb(48, 89, 221) ;
    padding: 100px;
    margin: 50px;">
        <label FOR ="">First name</label>
         <br>
        <input type="text" id="First name" name="First name"
         style="color:cornflowerblue; background-color: cornflowerblue;">
        <br><br>
        <label FOR ="">Last name</label> 
        <br>
        <input type="text" id="Last name" name="Last name"
        style="color: cornflowerblue; background-color: cornflowerblue;">
        <br><br>
        <label for="email">Email</label>
        <br><br>
        <input type="email" id="email" name="email" 
        style="color:cornflowerblue; background-color: cornflowerblue;"
        pattern=".*@">
        <br><br>
        <label for="radio">Vaccine</label>
        <input type="radio" name="radio" id="radio">
        <br><br>
        <input type="submit" value="submit">
    </form>
<a href="page2.html" target="_blank"> <h2>Next Page</h2> </a>

    <footer>
    </footer>
</body>
</html>