<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/homeWork.css">
    <script src="homeWork.js"></script>
    <title>InbarPage</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<header>
    <h1 class="title"><i>welcome to inbar's page</i></h1>
</header>

<body class="homePage">
    
    <div class="grid_container">
        <div class="welcome_text" id="text_ext">
            hope this website can help you find sime new places!
        </div>
        <div class="video_btn">
            <button class="open_video" id="video_button" onclick="showVideo()">taste of Aoustralia:</button>
        </div>
        <div class="video_A">
            <video id="Australia_video" controls>
                <source src="../static/20181216_181824.mp4" type="video/mp4">
            </video>
        </div>
        <div class="geep" id="green_geep">
            <img src="../static/green van.webp" id="imgJ">
        </div>

    </div>

    <span class="menu__icon1" id="open" style='font-size:60px;' onmouseover="openNav()">&#9776;</span>

    <nav id="navigation" class="text_menu">
        <aside class="sidebar">
            <ul>
                <li> <a href="southAmerica.asp">south-America</a></li>
                <li> <a href="Australia.html" target="_blank" id="AustraliaPage">Aoustralia</a></li>
                <li> <a href="NorthIsrael.asp">North of Israel</a></li>
                <li> <a href="leave details.html">Leave Details</a></li>
                <li> <a href="homePage.html">home Page</a></li>
            </ul>
            <span class="menu__close" id="close_button" onclick="closeNav()">&times;</span>
        </aside>
    </nav>
    <!---->

</body>

</html>