<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/homeWork.css">
    <script src="homeWork.js"></script>
    <title>leave details</title>
</head>
<header>
    <h2>Please fill in the blank fields: </h2> 
</header> 

<body class="details">

    <span class="menu__icon1" id="open" style='font-size:60px;' onmouseover = "openNav()">&#9776;</span>

    <nav id="navigation" class="text_menu"> 
      <aside class="sidebar">                     
        <ul>
            <li><a href="southAmerica.asp">south-America</a> </li>
            <li><a href="Australia.html" target="_blank" id="AustraliaPage">Aoustralia</a></li>
            <li><a href="NorthIsrael.asp">North of Israel</a> </li>
            <li><a href="leave details.html">Leave Details</a> </li>
            <li><a href="homePage.html">home Page</a> </li> 
        </ul>
        <span class="menu__close" id="close_button" onclick ="closeNav()">&times;</span>
     </aside>       
    </nav>


    

<div class="fill_details_box" action="URL" method="post">
        <label FOR =""><b>First name</b></label>
         <br>
        <input type="text" id="First name" name="First name" class="input_box">
        <br><br>
        <label FOR =""><b>Last name</b></label> 
        <br>
        <input type="text" id="Last name" name="Last name" class="input_box">
        <br><br>
        <label FOR =""><b>City</b></label>
        <br>
        <input type="text" id="City" name="City" class="input_box">
        <br><br>
        <label for="email"><b>Email</b></label>
        <br>
        <input type="email" id="email" name="email" class="input_box"pattern=".*@">
        <br><br>
    <span>
        <label for="Vaccine" class="radio"><b>Vaccine</b></label>
        <br>
        <input type="radio" name="radio_vaccine" id="Vaccine" class="radio_input">
        <br><br>

        <label for="Traveled alone before?"><b>Traveled alone before?</b></label>
        <br>
        <input type="radio" name="radio_travel" id="radio Yes">
        <label for="radio Yes"><b>Yes</b></label>   
        <input type="radio" name="radio_travel" id="radio No"> 
        <label for="radio No"><b>No</b></label>   
        <br><br>
    </span>
    <button class="submit_button" href="">submit</button>
</div>
    
</body>
</html>