<span class="menu__icon1" id="open" style='font-size:60px;' onmouseover="openNav()">&#9776;</span>

<nav id="navigation" class="text_menu">
    <aside class="sidebar">
        <ul>
            <li><a href="/leave_details">Leave Details</a></li>
            <li><a href="/assignment3_1">assignment3_1</a></li>
            <li><a href="/assignment3_2">assignment3_2</a></li>
            <li><a href="/assignment_4">assignment_4 Part A</a></li>
            <li><a href="/assignment4/users">users in json part B</a></li>
            <li><a href="/assignment4/outer_source">fetch back and front</a></li>
            <li><a href="/assignment4/restapi_users">Part C</a></li>
            <li><a href="/">home Page</a></li>
        </ul>
        <span class="menu__close" id="close_button" onclick="closeNav()">&times;</span>
    </aside>
</nav>