<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page2</title>
</head>
<body style="background-color:rgba(214, 249, 250, 0.924) ">
    
    <p>
       <h2><i>relax....</i></h2> 
        <img width="800" height="600" src="../static/Australia blue lake.jpg">
    </p>
    <div>
    <video width="520" height="240" 
    style=" background-color:crimson;
    width: 500px;   
    margin: 50px;"controls>
        <source src="../static/20181216_181824.mp4" type="video/mp4">
      </video>
    </div>
        <a href="homePage.html" target="_blank"> <h2>Back to homePage</h2> </a>
</body>
</html>